<aside id="sidebar" class="sidebar">
  <div class="logo">
    <img src="/imgs/Gemini_Generated_Image_z25bqzz25bqzz25b.png" alt="LMS Logo" class="lms-logo-img">  </div>
  <button id="toggleBtn" >☰</button>
  <nav class="menu">
    <a href="/">
      <i class="fas fa-tachometer-alt"></i>
      <span class="link-text">Dashboard</span>
    </a>
    <a href="/allbooks">
      <i class="fas fa-book"></i>
      <span class="link-text">Books</span>
    </a>
    <a href="/allMembers">
      <i class="fas fa-users"></i>
      <span class="link-text">Members</span>
    </a>
    <a href="/allTransactions">
      <i class="fas fa-exchange-alt"></i>
      <span class="link-text">Transactions</span>
    </a>
    <a href="/actions/issue">
      <i class="fas fa-book-reader"></i>
      <span class="link-text">Issue Book</span>
    </a>
    <a href="/actions/receive">
      <i class="fas fa-book-reader"></i>
      <span class="link-text">Return Book</span>
    </a>
    <a href="/settings">
      <i class="fas fa-cog"></i>
      <span class="link-text">Settings</span>
    </a>
  </nav>
</aside>