 
 <!-- Collapsible Sidebar -->
  <aside id="sidebar" class="sidebar">
    <div class="logo">
      <h2>LMS</h2>
    </div>
    <nav class="menu">
      <a href="/">Dashboard</a>
      <a href="allbooks">Books</a>
      <a href="allMembers">Members</a>
      <a href="allTransactions">Transactions</a>
      <a href="#">Issue Book</a>
      <a href="#">Reports</a>
      <a href="#">Settings</a>
    </nav>
  </aside>